<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371985792821-ri0lslkridtkr5v42g6a0fnb6tolcsl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371985792821-ri0lslkridtkr5v42g6a0fnb6tolcsl1</string>
	<key>API_KEY</key>
	<string>AIzaSyCZASuyFpsuC9qUNtT-1LPwMtDy1k7TEpw</string>
	<key>GCM_SENDER_ID</key>
	<string>371985792821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deah.com.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-321cf</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-321cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371985792821:ios:46d4d3f8c8f8e6f29b167c</string>
</dict>
</plist>